#main
  =## have this(below) change depending on input
  =## for example, when no search keyword input then "all refrigerators"
  =## else "results"
  %h2.page_name LazyMe
  %h3.title_header All Refrigerators
  =# %h4= flash[:notice] if flash[:notice]
  =#%h4= flash[:warning] if flash[:warning]
  
  =form_tag refrigerators_path, :method => :get do
    =label_tag "rating"
    =number_field_tag :rating
  
    =submit_tag 'Filter'
  %br
 
  %table.searched_table
    %tr.searched_header
      %th= link_to("Brand", refrigerators_path(:sort => "brand"))
      %th= link_to("Model", refrigerators_path(:sort => "model"))
      %th= link_to("Rating", refrigerators_path(:sort => "rating"))
      %th= link_to("Configuration", refrigerators_path(:sort => "configuration"))
      %th= link_to("Kwh/Year", refrigerators_path(:sort => "kwh_per_year"))
      %th
    - @refrigerators.each do |r|
      %tr.row
        %td{:class => "refrigeratorname"}= link_to(r.brand, refrigerator_path(r))
        %td= r.model
        %td= r.rating
        %td= r.configuration
        %td= r.kwh_per_year
        %td= link_to("add", new_refrigerator_path)
      =# (Above)should be a button that adds fridge to my_fridges "cart"
  %br
  %h4.thingstoconsider -- Things To Consider -- 

%br
=link_to "Back to Search Page", searchs_path, method:"get"
