#main
  =## have this(below) change depending on input
  =## for example, when no search keyword input then "all refrigerators"
  =## else "results"
  %h3 All Refrigerators
  =# %h4= flash[:notice] if flash[:notice]
  =#%h4= flash[:warning] if flash[:warning]
  
  =form_tag refrigerators_path, :method => :get do
    =label_tag "rating"
    =number_field_tag :rating
  
    =submit_tag 'Filter'
  %br
  
  %table.refrigerators_table
    %tr.refrigerators_header
      %th= link_to("brand", refrigerators_path(:sort => "brand"))
      %th= link_to("model", refrigerators_path(:sort => "model"))
      %th= link_to("rating", refrigerators_path(:sort => "rating"))
      %th= link_to("configuration", refrigerators_path(:sort => "configuration"))
      %th= link_to("kwh/year", refrigerators_path(:sort => "kwh_per_year"))

    - @refrigerators.each do |r|
      %tr.row
        %td{:class => "refrigeratorname"}= link_to(r.brand, refrigerator_path(r))
        %td= r.model
        %td= r.rating
        %td= r.configuration
        %td= r.kwh_per_year
        %td= link_to("Add to Cart", new_shopping_cart_path(refri_id:r.id))
      =# (Above)should be a button that adds fridge to my_fridges "cart"
  %br
  %h4.thingstoconsider -- Things To Consider -- 

%br
=link_to "Back to Search Page", searchs_path, method:"get"
