#main
  =## have this(below) change depending on input
  =## for example, when no search keyword input then "all refrigerators"
  =## else "results"

  =javascript_include_tag "refrigerators.js"


  %h2.page_name LazyMe
  %h3.title_header All Refrigerators

  -# %h4= flash[:notice] if flash[:notice]
  -#%h4= flash[:warning] if flash[:warning]
  
  =form_tag refrigerators_path, :method => :get do
    =label_tag "rating"
    =number_field_tag :rating
  
    =submit_tag 'Filter'
  %br
 
  %table.searched_table
    %tr.searched_header
      %th= link_to("Brand", refrigerators_path(:sort => "brand"))
      %th= link_to("Model", refrigerators_path(:sort => "model"))
      %th= link_to("Rating", refrigerators_path(:sort => "rating"))
      %th= link_to("Configuration", refrigerators_path(:sort => "configuration"))
      %th= link_to("Kwh/Year", refrigerators_path(:sort => "kwh_per_year"))
      %th= "Add to My Fridges"
    - @refrigerators.each do |r|
      %tr.row
        - if r.reviews.first
          %p.review=r.reviews.order("RANDOM()").first.description

        %td{:class => "refrigeratorname"}
          = link_to(r.brand, refrigerator_path(r))
          - if r.reviews.first
            %p.review=r.reviews.order("RANDOM()").first.description
        %td{:class=>"pop_review"}= r.model
        - if r.reviews.first
          %td= r.reviews.over_all_rating
        - else
          %td N/A
        %td= r.configuration
        %td= r.kwh_per_year
        %td= link_to("+", new_shopping_cart_path(refri_id:r.id))
      =# (Above)should be a button that adds fridge to my_fridges "cart"
  %br
  %h4.thingstoconsider

%br
=link_to "Back to Search Page", searchs_path, method:"get"

-#%script{:src  => "javascripts/review.js"}
