#main


  %h2.page_name LazyMe

  - if flash[:notice]
    %p=flash[:notice]
  - elsif flash[:warning]
    %p= flash[:warning]  

  %h1 Details for
  %h3.fridge #{@refrigerator.brand} #{@refrigerator.model}
  
  %div.fridge_stuff
    %table.refrigerator_info
      %tr
        %td="Brand"
        %td=@refrigerator.brand
      %tr
        %td="Model"
        %td=@refrigerator.model
      %tr
        %td="Model Variations" 
        %td=@refrigerator.model_variations
      %tr
        %td="Configuration" 
        %td=@refrigerator.configuration
      %tr
        %td="Defrost Type"
        %td=@refrigerator.defrost_type
      %tr
        %td="Compact?"
        %td=@refrigerator.compact?
      %tr
        %td="Through Door Dispenser?"
        %td=@refrigerator.through_door_dispenser?
      %tr
        %td="Automatic Icemaker?"
        %td=@refrigerator.automatic_icemaker?
      %tr
        %td="Volume (cu ft)"
        %td=@refrigerator.volume_cu_ft
      %tr
        %td="Kilowats/Year"
        %td=@refrigerator.kwh_per_year
  
  %div.other_links 
    %h2 Other Links
    %table.other_links
      %tr
        %td=link_to "Google Research", "https://www.google.com/#q=%s+%s" % [@refrigerator.brand, @refrigerator.model]
      %tr
        %td=link_to "Bing Research", "https://www.bing.com/search?q=%s+%s" % [@refrigerator.brand, @refrigerator.model]
      %tr
        %td=link_to "Yahoo Research", "https://search.yahoo.com/search/?p=%s+%s" % [@refrigerator.brand, @refrigerator.model]


    %br
    %p.cart=link_to "Add to My Fridges", new_shopping_cart_path(refri_id:params[:id])
    %p.cart=link_to "My Fridges", shopping_cart_path
    %br

  %h2.review Reviews
  %p.create_review=link_to "Create a Review", new_review_path(refrigerator_id:params[:id])
  %table.review_table
    %tr.review_header
      %th Review
      %th Rating
      %th Upvote
      %th Downvote
      %th Author
    - @refrigerator.reviews.each do |r|
      %tr.row
        %td= r.description
        %td= r.rating
        %td.upvote= link_to r.upvote, update_upvote_path(review_id:r.id)
        %td.downvote= link_to r.downvote, update_downvote_path(review_id:r.id)
        %td= r.author
 
    -#%table.review_table
    -#  %tr=link_to "Create a review", new_refrigerator_review_path(@refrigerator)


=link_to "Back to Search Results", refrigerators_path
