#main
  =## have this(below) change depending on input
  =## for example, when no search keyword input then "all refrigerators"
  =## else "results"
  %h3 All Refrigerators
  =# %h4= flash[:notice] if flash[:notice]
  =#%h4= flash[:warning] if flash[:warning]
  
  =form_tag 'filter', :method => :get do
    =label_tag "price"
    =number_field_tag :price

    =label_tag "rating"
    =number_field_tag :rating
  
    =submit_tag 'filter'
  %br
  
  %table.refrigerators_table
    %tr.refrigerators_header
      %th= link_to("name", refrigerators_path(:sort => "name"))
      %th= link_to("price", refrigerators_path(:sort => "price"))
      %th= link_to("rating", refrigerators_path(:sort => "rating"))
      %th= link_to("popularity", refrigerators_path(:sort => "popularity"))
      %th= link_to("key features", refrigerators_path(:sort => "keyfeatures"))

      =# not sure if we need description as a property for our fridges(above)
    - @refrigerators.each do |r|
      %tr
        %td{:class => "refrigeratorname"}= link_to(r.name, refrigerator_path(r))
        %td= number_to_currency(r.price)
        %td= r.rating
        %td= r.popularity
        %td= r.keyfeatures
        %td= link_to("add", new_refrigerator_path)
      =# (Above)should be a button that adds fridge to my_fridges "cart"
  %br
  %h4.thingstoconsider -- Things To Consider -- 

%br
=link_to "Back to Search Page", searchs_path, method:"get"
