!!! 5

%html
  %head
    %meta{ charset: 'utf-8' }
    %title LazyMe
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
  
  %body
    
    
    #header
      %h1 LazyMe
      - if flash[:notice]
        %h4=flash[:notice]
      - elsif flash[:warning]
        %h4= flash[:warning] 

      - if user_signed_in?
        %p Logged in as #{current_user.email}
        %P=link_to("Log out", destroy_user_session_path, :method=>:delete)
      - else
        %p=current_user
        %p=link_to("Log in", new_user_session_path)

  
  

    = yield
