!!! 5

%html
  %head
    %meta{ charset: 'utf-8' }
    %title LazyMe
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
  
  %body
    
    
    #header
      %h1 LazyMe
      - if flash[:notice]
        %h4=flash[:notice]
      - elsif flash[:warning]
        %h4= flash[:warning] 

  
  

    = yield
